::ng-deep .mat-mdc-card-header-text {
  flex: 0 1 100%;
}

:host {
  flex-wrap: wrap;
  display: flex;
  height: 100%;
  width: 100%;

  mat-card-header {
    padding-bottom: 16px;
  }

  .github-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: inherit;
    height: 2em;

    img {
      max-height: 100%;
      max-width: 100%;
    }
  }

  .item {
    box-sizing: border-box;
    overflow: hidden;
    padding: 16px;
    height: 100%;
  }

  .example {
    flex: 1 0 640px;
  }

  .form-state {
    flex: 1 0 500px;

    mat-card {
      overflow: auto;
    }
  }

  mat-card {
    height: 100%;
  }
}
