<div class="item example">
  <mat-card appearance="outlined">
    <mat-card-header>
      <mat-card-title>{{ exampleName() }}</mat-card-title>
      <a [href]="githubLink()" class="github-link" target="_blank" matTooltip="View code on GitHub">
        <img src="public/GitHub-Mark.png" alt="Github" />
      </a>
    </mat-card-header>
    <mat-card-content>
      <ng-content />
    </mat-card-content>
  </mat-card>
</div>
<div class="item form-state">
  <mat-card appearance="outlined" class="form-state">
    <mat-card-content>
      <pre><code [innerHtml]="formattedFormState()"></code></pre>
    </mat-card-content>
  </mat-card>
</div>
