:host {
  display: flex;
  justify-content: center;
}

.main-content {
  margin-top: 50px;
  display: flex;
}

.mat-mdc-card.todo-list {
  width: 500px;
}

.description {
  margin-bottom: 20px;
}

.mat-mdc-card.state {
  width: 400px;
  margin-left: 20px;
}

.mat-mdc-card-header {
  display: flex;
  justify-content: center;
}

.mat-mdc-card-title {
  font-size: 200%;
}

.mat-mdc-list-item:not(:last-child) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}
